$white:#FFF;
$black:#000;

$proximanova: "proxima-nova", Arial, Helvetica, sans-serif !important;

$gray_1:#FAFAFA;
$gray_2:#EEEEEE;
$gray_3:#E1E1E1;
$gray_4:#D4D4D4;
$gray_5:#B8B8B8;
$gray_6:#A9A9A9;
$gray_7:#A0A0A0;
$gray_8:#999999;
$gray_9:#7C7C7C;
$gray_10:#525252;
$gray_11:#484848;
$gray_12:#363636;

$green_1:#48D4AA;
$green_2:#3BC791;
$green_3:#31B984;
$green_4:#23A06E;
$green_5:#187D56;

$error_red_1:#F17979;
$error_red_2:#ed5858;

$green_text_shadow:#1C8F3D;

$blue_1:#5C88C8;
$blue_2:#3B67A7;
$blue_3:#3662A2;
$blue_4:#1D5287;

$lightblue_1:#9ED6F2;
$lightblue_2:#3EADE6;


$solid: 0 1px 0;