/* ICONS */
i, .icon { background-image: url(../img/sm_general.png); background-repeat: no-repeat; display: inline-block; .display: inline; .zoom: 1; font-size: 0; vertical-align: middle; text-indent: -9999px; *text-indent: 0; }
i.logo-footer, .icon.logo-footer { width: 155px; height: 30px; background-position: 0px 0px; }
i.logo-footer:hover, .icon.logo-footer:hover { width: 155px; height: 30px; background-position: 0px -30px; }
i.circular, .icon.circular { transition: all 0.2s ease-out; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; }
i.circular.facebook, .icon.circular.facebook { width: 24px; height: 24px; background-position: 0px -190px; }
i.circular.facebook:hover, .icon.circular.facebook:hover { width: 24px; height: 24px; background-position: 0px -214px; }
i.circular.youtube, .icon.circular.youtube { width: 24px; height: 24px; background-position: -24px -190px; }
i.circular.youtube:hover, .icon.circular.youtube:hover { width: 24px; height: 24px; background-position: -24px -214px; }
i.circular.email, .icon.circular.email { width: 24px; height: 24px; background-position: -48px -190px; }
i.circular.email:hover, .icon.circular.email:hover { width: 24px; height: 24px; background-position: -48px -214px; }
i.facebook, .icon.facebook { width: 46px; height: 45px; background-position: -155px 0px; }
i.calendario, .icon.calendario { width: 196px; height: 192px; background-position: 0px -281px; }
i.checklist, .icon.checklist { width: 180px; height: 178px; background-position: 0px -473px; }
i.apn, .icon.apn { width: 40px; height: 40px; background-position: 0px -60px; }
i.apn:hover, .icon.apn:hover { width: 40px; height: 40px; background-position: 0px -100px; }
i.aagm, .icon.aagm { width: 40px; height: 40px; background-position: -40px -60px; }
i.aagm:hover, .icon.aagm:hover { width: 40px; height: 40px; background-position: -40px -100px; }
i.ecomed, .icon.ecomed { width: 40px; height: 40px; background-position: -80px -60px; }
i.ecomed:hover, .icon.ecomed:hover { width: 40px; height: 40px; background-position: -80px -100px; }
i.nav, .icon.nav { transition: all 0.2s ease-out; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; cursor: pointer; }
i.nav.izq, .icon.nav.izq { width: 30px; height: 30px; background-position: -30px -160px; }
i.nav.izq:hover, .icon.nav.izq:hover { width: 30px; height: 30px; background-position: 0px -160px; }
i.nav.der, .icon.nav.der { width: 30px; height: 30px; background-position: -60px -160px; }
i.nav.der:hover, .icon.nav.der:hover { width: 30px; height: 30px; background-position: -90px -160px; }
i.flecha.naranja, .icon.flecha.naranja { width: 6px; height: 7px; background-position: -79px -140px; }
i.flecha.cyan, .icon.flecha.cyan { width: 6px; height: 7px; background-position: -85px -140px; }
i.tip.porque, .icon.tip.porque { width: 17px; height: 9px; background-position: 0px -140px; }
i.tip.hover, .icon.tip.hover { width: 16px; height: 9px; background-position: -17px -140px; }
i.tip.tooltip, .icon.tip.tooltip { width: 5px; height: 5px; background-position: 0px -149px; }
i.tip.testimonio, .icon.tip.testimonio { width: 10px; height: 12px; background-position: -33px -140px; }
i.enalquiler, .icon.enalquiler { width: 43px; height: 43px; background-position: 0px -238px; }
i.alerta, .icon.alerta { width: 45px; height: 40px; background-position: -43px -238px; }
i.quotizq, .icon.quotizq { width: 32px; height: 25px; background-position: -201px 0px; }
i.quotder, .icon.quotder { width: 32px; height: 25px; background-position: -201px -25px; }
i.duracion, .icon.duracion { width: 64px; height: 64px; background-position: -196px -281px; }
i.dificultad, .icon.dificultad { width: 71px; height: 64px; background-position: -196px -345px; }
i.salida, .icon.salida { width: 32px; height: 53px; background-position: -196px -409px; }
i.llegada, .icon.llegada { width: 41px; height: 53px; background-position: -228px -409px; }
i.volcan, .icon.volcan { background-image: url(../img/volcan.png); width: 463px; height: 215px; background-position: 0px 0px; }
i.email, .icon.email { width: 21px; height: 15px; background-position: -111px -140px; }
i.telefono, .icon.telefono { width: 20px; height: 20px; background-position: -91px -140px; }

/* END ICONS */
